<div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="card">
        <!--Header-->
            <div class="header">
                <div class="row d-flex justify-content-center">
                <h3 class="text-black mb-0 py-2 font-weight-bold">Register</h3>
                </div>
            </div>

            <div style="padding: 5%; margin: auto;">
                <form>
                    <div>
                        <input type="text" name="firstname" [(ngModel)]="firstName" placeholder="First name">
                    </div>
                    <div>
                        <input type="text" name="lastname" [(ngModel)]="lastName" placeholder="Last name" style="margin-top: 10px;">
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="gender">Gender:</label>
                        <select name="gender" name="gender" [(ngModel)]="gender">
                            <option value=""></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" name="jmbg" [(ngModel)]="jmbg" placeholder="JMBG" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" name="username" [(ngModel)]="username" placeholder="Username" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" name="email" [(ngModel)]="email" placeholder="Email" style="margin-top: 10px;">
                    </div>
                    <div>
                        <label for="birthdate">Date of birth:</label>
                        <input type="date" name="birthdate" [(ngModel)]="dateOfBirth" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" name="country" [(ngModel)]="country" placeholder="Country" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" name="address" [(ngModel)]="address" placeholder="Address" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" name="city" [(ngModel)]="city" placeholder="City" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" name="phone" [(ngModel)]="phoneNumber" placeholder="Phone number" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="number" name="height" [(ngModel)]="height" placeholder="Height (cm)" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="number" name="weight" [(ngModel)]="weight" placeholder="Weight (kg)" style="margin-top: 10px;">
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="allergens">Allergens:</label>
                        <select name="allergens" id="allergens" [(ngModel)]="allergens" multiple>
                            <option *ngFor="let a of allAllergens" [value]="a.id">{{a.name}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="doctors">Prefered doctor:</label>
                        <select name="doctors" id="doctors" [(ngModel)]="preferedDoctor">
                            <option *ngFor="let d of doctors" [value]="d.id">{{d.firstName}} {{d.lastName}}</option>
                            <!--<option value="0">Milan Savić</option>
                            <option value="1">Jovana Nikolić</option>-->
                        </select>
                    </div>
                    <div>
                        <label for="bloodtype">Blood Type:</label>
                        <select name="bloodtype" id="bloodtype" [(ngModel)]="bloodType">
                            <option value="None"></option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="B">AB</option>
                            <option value="O">O</option>
                        </select>
                    </div>
                    <div>
                        <input type="password" name="password" [(ngModel)]="password" placeholder="Password" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="password" name="confirm" [(ngModel)]="confirmPassword" placeholder="Confirm password" style="margin-top: 10px;">
                    </div>
                    <button style="margin-top: 30px;" (click)="register()" [disabled]="!contentIsValid()">Register</button>
                </form>
            </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>