<div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="card">
        <!--Header-->
            <div class="header">
                <div class="row d-flex justify-content-center">
                <h3 class="text-black mb-0 py-2 font-weight-bold">Register</h3>
                </div>
            </div>

            <div style="padding: 5%; margin: auto;">
                <form>
                    <div>
                        <input type="text" id="firstname" placeholder="First name">
                    </div>
                    <div>
                        <input type="text" id="lastname" placeholder="Last name" style="margin-top: 10px;">
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="gender">Gender:</label>
                        <select name="gender" id="gender">
                            <option value="none"></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" id="jmbg" placeholder="JMBG" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" id="username" placeholder="Username" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" id="email" placeholder="Email" style="margin-top: 10px;">
                    </div>
                    <div>
                        <label for="birthdate">Date of birth:</label>
                        <input type="date" id="birthdate" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" id="birthdate" placeholder="Country" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" id="address" placeholder="Address" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" id="city" placeholder="City" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" id="phone" placeholder="Phone number" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" id="height" placeholder="Height (cm)" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="text" id="weight" placeholder="Weight (kg)" style="margin-top: 10px;">
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="allergens">Allergens:</label>
                        <select name="allergens" id="allergens" multiple>
                            <option value="none"></option>
                            <option value="gluten">Gluten</option>
                            <option value="milk">Milk</option>
                        </select>
                    </div>
                    <div>
                        <label for="doctors">Prefered doctor:</label>
                        <select name="doctors" id="doctors">
                            <option value="Milan Savić">Milan Savić</option>
                            <option value="Jovana Nikolić">Jovana Nikolić</option>
                        </select>
                    </div>
                    <div>
                        <label for="bloodtype">Blood Type:</label>
                        <select name="bloodtype" id="bloodtype">
                            <option value="None"></option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="B">AB</option>
                            <option value="O">O</option>
                        </select>
                    </div>
                    <div>
                        <input type="password" id="password" placeholder="Password" style="margin-top: 10px;">
                    </div>
                    <div>
                        <input type="password" id="confirm" placeholder="Confirm password" style="margin-top: 10px;">
                    </div>
                    <button style="margin-top: 30px;">Register</button>
                </form>
            </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>