<div class="card">
    <div class="card-header">
      Dowloaded pdf files
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <h2>View All Files</h2>
      <table class="table table-bordered">
        <tbody>
            <tr *ngFor="let file of files">
              <td>{{file.Name}}.{{file.Extension}}</td>
              <td>
                <input type="button" class="btn btn-success" (click)="downloadFile(file.Id, 'application/pdf')" value="View"/>
              </td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>