<div style="background-image: url('/assets/pharmacy1.jpg');   background-repeat: no-repeat; height: 100%; width: 100%; padding-top: 8%;  background-size: 100%;">
<div style="max-width: 35%; border: solid gray 2px; margin: auto;  text-align: center; padding: 5%; border-radius: 10%; background-color: white; opacity: 0.85;">
<form>
    <h1 style="margin-bottom: 15%; margin-top: -10%; font-size: 3em; color: rgba(6, 140, 158, 0.493);"><b>Register your pharmacy</b></h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="font-size: 1.5em; color: rgb(70, 70, 70);"><b>Pharmacy name</b></label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3" style="margin-top: 3em;">
      <label for="exampleInputPassword1" class="form-label"  style="font-size: 1.5em; color: rgb(70, 70, 70);"><b>Localhost</b></label>
      <input type="password" class="form-control" id="exampleInputPassword1">
      <div id="emailHelp" class="form-text" style="font-size: 1.2em;">We'll never share your localhost with anyone else.</div>
    </div>
    <button type="submit" style="margin-top: 10%; width: 10em; height: 3em; letter-spacing: .1em; background-color:  rgba(6, 140, 158, 0.8); border: solid  rgba(6, 140, 158, 0.493); border-radius: 10%; font-size: 1.5em; " class="btn btn-primary"><b>Register</b></button>
  </form>
</div>
</div>