<div class="row d-flex whitesmoke_background">
  <div class="col-md-3">
      <div class="card">
        <div class="header basic-info-header">
          <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">{{patient.firstName}} {{patient.lastName}} ({{patient.userName}})</h2>
          <div class="row d-flex" style="margin-left: inherit;"><h4 class="text-black" style="font-weight: bolder">{{patient.dateOfBirth | date:'dd/MM/yyyy'}}</h4><h4 class="text-black" style="font-style: italic;">(DOB)</h4></div>
        </div>
      
        <div class="card-body">
            <div class="row d-flex">
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: left;">Gender:</p>
              </div>
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: right;">{{patient.gender}}</p>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: left;">Personal ID:</p>
              </div>
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: right;">{{patient.jmbg}}</p>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: left;">Residence:</p>
              </div>
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: right;">{{patient.address}}, {{patient.city}}, {{patient.country}}</p>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: left;">Contact Phone:</p>
              </div>
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: right;">{{patient.phone}}</p>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: left;">Email:</p>
              </div>
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: right;">{{patient.eMail}}</p>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: left;">Doctor:</p>
              </div>
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: right;">{{patient.preferedDoctorName}}</p>
              </div>
            </div>
        </div>
      </div>

      <div class="card" style="margin-top: 50px;">
        <div class="header basic-info-header">
          <h2 class="text-black" style="font-weight: bolder; font-size: 22px;">Physical Information</h2>
        </div>
      
        <div class="card-body">
            <div class="row d-flex">
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: left;">Height:</p>
              </div>
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: right;">{{patient.height}}cm</p>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: left;">Weight:</p>
              </div>
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: right;">{{patient.weight}}kg</p>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: left;">Blood Type:</p>
              </div>
              <div class="col-sm-6">
                <p style="font-weight: bolder; text-align: right;">{{patient.bloodType}}</p>
              </div>
            </div>
        </div>
      </div>

      <div class="card" style="margin-top: 50px;">
        <div class="header basic-info-header">
          <h2 class="text-black" style="font-weight: bolder; font-size: 22px;">Allergens</h2>
        </div>
      
        <div class="card-body" *ngFor = "let a of patient.allergenList">
            <div class="row d-flex" style="margin-left: inherit;"><p style="font-weight: bolder;">{{a}}</p></div>
        </div>
      </div>
  </div>
  <div class="col-md-9">
    <div class="row d-flex align-items-center">
        <div class="card" *ngFor = "let d of daysOfTheWeek" style="margin:5; float: none; height: 200px; max-width: 200px;" (click)="selectedDay = d.day">
          <div class="header day-of-week-header"  [ngStyle]="{'background-color': (true) ? '#73c7af' : '#ffffff'}" style="border-radius: 8px 8px 0px 0px;">
            <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">{{getFormattedDay(d.day)}}</h2>
          </div>
        
          <div class="card-body" *ngIf="selectedDay == d.day">
              <div *ngFor = "let i of d.scheduleItems">
                <div class="row d-flex"><h4>{{i.name}}</h4><h4 style="margin-left: 10px; margin-right: 10px;">{{i.amount}}</h4><h4> {{i.time}}</h4></div>
              </div>
          </div>
        </div>
    </div>

     <!-- Results -->
     <div class="card mt-5" *ngIf="!(appointments === undefined) && appointments.length != 0">
      <div class="header gradient-blue">
          <div class="row d-flex justify-content-center">
              <h3 class="text-white mb-1 mt-1 font-weight-bold">History of appointments</h3>
          </div>
      </div>
  
      <div class="card-body mx-4">
          <div class="row d-flex mt-2" style="border-bottom: 1px solid #9e9e9e;" *ngFor = "let a of appointments">
              <div class="col-md-2">
                  <div class="row d-flex">
                      <h1 class="font-weight-bold" style="margin-bottom: 0px !important;">
                          {{a.date | date:'hh:mm'}}
                      </h1>
                  </div>
                  <div class="row d-flex">
                      <span class="font-weight-bold header-text">
                          {{a.date | date:'dd/MM/yyyy'}}
                      </span>
                  </div>
              </div>
              <div class="col-md-2">
                  <h1 class="font-weight-bold">
                     {{a.doctorName}}
                  </h1>
              </div>
              <div class="col-md-2">
                <h1 class="font-weight-bold">
                    {{getAppointmentType(a.type)}}
                </h1>
            </div>
              <div class="col-md-2">
                <h1 class="font-weight-bold">
                  {{getAppointmentStatus(a)}}      
                </h1>
            </div>              
              <div class="col-md-2">
                  <button class="btn btn-blue btn-rounded" (click)="cancelAppointment(a.id)" [disabled]="!isCancelValid(a)">Cancel</button>
              </div>
              <div class="col-md-2">
                <button class="btn btn-blue btn-rounded" (click)="doSurveyForAppointment(a.id)" [disabled]="!canSurveyBeDone(a)">Survey</button>
            </div>
             
          </div>
      </div> 
  </div>
  </div>
</div>