<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="card">
                
                <!-- Header -->
                <div class="header gradient-blue">
                    <div class="row d-flex justify-content-center">
                        <h3 class="text-white mb-1 mt-1 font-weight-bold">Find an Appointment</h3>
                    </div>
                </div>

                <div class="card-body mx-4 collapsible">
                    <form>
                        <div class="row d-flex mt-4">
                            <div class="col-md-6">
                                <label>
                                    <input type="date" name="lowerDateRange" [(ngModel)]="appointmentRequest.LowerDateRange" class="datepicker" required="required"/>
                                    <span>From Date</span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    <input type="date" name="upperDateRange" [(ngModel)]="appointmentRequest.UpperDateRange" class="datepicker" required="required"/>
                                    <span>To Date</span>
                                </label>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col-md-6">
                                <label>
                                    <select name="lowerTime" id="lowerTime" [(ngModel)]="appointmentRequest.LowerTimeRange" class="datepicker" required="required">
                                        <option *ngFor="let time of availableTimes" [value]="time">{{time}}</option>
                                    </select>
                                    <span>From Time</span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    <select name="upperTime" id="upperTime" [(ngModel)]="appointmentRequest.UpperTimeRange" class="datepicker" required="required">
                                        <option *ngFor="let time of availableTimes" [value]="time">{{time}}</option>
                                    </select>
                                    <span>To Time</span>
                                </label>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col-md-6">
                                <label>
                                    <select name="doctors" id="doctors" [(ngModel)]="appointmentRequest.DoctorId" class="datepicker" required="required">
                                        <option *ngFor="let d of doctors" [value]="appointmentRequest.DoctorId">{{d.firstName}} {{d.lastName}}</option>
                                    </select>
                                    <span>Doctor</span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    <select name="priority" id="priority" [(ngModel)]="priority" class="datepicker" required="required">
                                        <option value="Doctor">Doctor</option>
                                        <option value="Doctor">Time</option>
                                    </select>
                                    <span>Priority</span>
                                </label>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <button class="btn btn-blue btn-rounded" (click)="send_request()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <!-- Results -->
            <div class="card mt-5" *ngIf="!(appointments === undefined) && appointments.length != 0">
                <div class="header gradient-blue">
                    <div class="row d-flex justify-content-center">
                        <h3 class="text-white mb-1 mt-1 font-weight-bold">Results</h3>
                    </div>
                </div>
            
                <div class="card-body mx-4">
                    <div class="row d-flex mt-2" style="border-bottom: 1px solid #9e9e9e;" *ngFor = "let a of appointments">
                        <div class="col-md-5">
                            <div class="row d-flex">
                                <h1 class="font-weight-bold" style="margin-bottom: 0px !important;">
                                    {{a.date | date:'hh:mm'}}-{{getTermEnd(a.date) | date:'hh:mm'}}
                                </h1>
                            </div>
                            <div class="row d-flex">
                                <span class="font-weight-bold header-text">
                                    {{a.date | date:'dd/MM/yyyy'}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h1 class="font-weight-bold">
                                Doktor
                            </h1>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-blue btn-rounded">Reserve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
