<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="card">

        <!--Header-->
        <div class="header" [@colorState]="!feedbackSent" [@borderRoundingState]="!feedbackSent">
          <div class="row d-flex justify-content-center">
            <h3 class="text-white mb-0 py-5 font-weight-bold" *ngIf="!feedbackSent">Let us know about your experience</h3>
            <h3 class="text-white mb-0 py-5 font-weight-bold" id="feedbackSent" *ngIf="feedbackSent">Thank you for your feedback!</h3>
          </div>
        </div>
    
        <div class="card-body mx-4 collapsible" [@collapse]="feedbackSent">
    
          <div class="md-form">
            <textarea id="content" class="md-textarea form-control" rows="5" [(ngModel)]="content" id="contentField"></textarea>
            <small id="passwordHelp" class="text-danger" *ngIf="!contentIsValid()">
              Field must not be empty.
            </small>
          </div>
    
          <div class="row d-flex align-items-center mb-3 mt-4">
            <div class="col-md-4">
              <span class="switch">
                <input type="checkbox" class="switch" id="isAnonymous" [(ngModel)]="isAnonymous">
                <label for="isAnonymous">Anonymous</label>
              </span>
            </div>
            <div class="col-md-4">
              <span class="switch">
                <input type="checkbox" class="switch" id="isPublishable" [(ngModel)]="isPublishable">
                <label for="isPublishable">Publishable</label>
              </span>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <button type="button" class="btn btn-blue btn-rounded" [disabled]="!contentIsValid()" (click)="createFeedback()" id="createBtn">Send</button>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
