.pharmaSelection 
{
  border:solid #33b5e5 2px;
  min-width: 600px;
  width: 500px;
  margin: auto;
  margin-top: 2%;
  padding: 5px;

}

.roundedCorner
{

  border: solid 1px #555;
  
  box-shadow: 10px 10px 5px  rgba(106, 159, 238, 0.6);
  -moz-box-shadow: 10px 10px 5px  rgba(106, 159, 238, 0.6);
  -webkit-box-shadow: 10px 10px 5px  rgba(106, 159, 238, 0.6);
  -o-box-shadow: 10px 10px 5px rgba(106, 159, 238, 0.6);
  border-radius:20px;
}

.pozadina
{
    height:100vh;
    background-image: url("/assets/pozadina4.png");
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    background-color: #cccccc;
}

.objectionForm 
{
  width: 600px;
  min-width: 600px;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  border: #33b5e5 bold 10px;

}