<!-- Default form contact -->
<div   >

    <div class="pharmaSelection">
        <p>Choose pharmacy to which objection will be send</p>
        <div *ngIf="PharmacyList.length==0">Currently there are no registered pharmacies, so you cannot select pharmacy.</div>
        <select id="pharmacySelection" (ngModelChange)="selectChange($event)" [(ngModel)]="PharmacyList.Name">
          <option  *ngFor="let pharmacy of PharmacyList" [ngValue]="pharmacy" id={{pharmacy.Name}}>
            {{pharmacy.Name}}
          </option>    
        </select>
      
    
    </div>    
    
    <div  >
    <form class="objectionForm" >
        
        <p class="h4 mb-4"><b>Objection form</b></p>
        
      
        <!-- Objection title -->
        <!--<input type="text" class="form-control mb-4" placeholder="Objection title">-->
    
        <!-- Objection message -->
      
        <div class="form-group">
          <textarea name="objContent" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Objection message" [(ngModel)]="objectionContent"></textarea>
        </div>
    
        <!-- Send button -->
      
        <button id="sendButton" [disabled]="!isPharmacySelectedL"  (click)="sendObjection()" color="info" block="true" type="submit"  style="width: 100%;margin-top: 20px; height: 30px; background-color:#33b5e5; color: white;">Send</button>
      
      </form>
      <!-- Default form contact -->
    </div>
    </div>