<div style="margin-top: 20px; width: 700px">
  <div style="display: flex; flex-direction: row; align-items: center">
    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          [(ngModel)]="requestData.startDate"
        />
        <input
          matEndDate
          placeholder="End date"
          [(ngModel)]="requestData.endDate"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button (click)="apply()" class="btn" style="margin-left: 10px">
      Apply
    </button>
  </div>

  <table class="stats-table" *ngIf="showTable">
    <thead>
      <tr>
        <th style="width: 250px">Doctor</th>
        <th style="width: 100px">Patients</th>
        <th style="width: 110px">Appointments</th>
        <th style="width: 120px">On-call shifts</th>
        <th style="width: 120px">Vacation days</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let stat of stats"
        (click)="selectStat(stat)"
        [ngClass]="{
          'stat-selected': selectedStats?.doctor?.id == stat?.doctor?.id
        }"
      >
        <td style="width: 250px">
          {{ stat.doctor.firstName }} {{ stat.doctor.lastName }}
        </td>
        <td style="width: 100px">{{ stat.numberOfPatients }}</td>
        <td style="width: 110px">{{ stat.numberOfAppointments }}</td>
        <td style="width: 120px">{{ stat.numberOfOnCallShifts }}</td>
        <td style="width: 120px">{{ stat.numberOfVacationDays }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="showChart && emptyData">
    {{ selectedStats.doctor.firstName }}
    {{ selectedStats.doctor.lastName }} doesn't have any data
  </div>
  <div
    style="text-align: center; width: 650px; height: 200px"
    *ngIf="showChart && !emptyData"
  >
    <ejs-accumulationchart
      id="chart-container"
      [legendSettings]="legendSettings"
      width="300"
      height="200"
      [enableSmartLabels]="true"
      [tooltip]="tooltip"
    >
      <e-accumulation-series-collection>
        <e-accumulation-series
          [dataSource]="piedata"
          xName="x"
          yName="y"
          [pointColorMapping]="map"
          [dataLabel]="datalabel"
          tooltipMappingName="text"
        ></e-accumulation-series>
      </e-accumulation-series-collection>
    </ejs-accumulationchart>
  </div>
</div>
