<div>

    <div *ngFor="let dataItem of TenderList; let i = index" class="list-group" style="margin-left: 15%; margin-right: 15%;">
        <li  class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h2><b>Tender information:</b></h2>
          </div>
          <label><b>Title: {{dataItem.Title}},</b></label>
          <br>
          <label><b>Description: {{dataItem.Description}},</b></label>
          <br>
          <label *ngIf="dataItem.EndTime!=null"><b>EndTime: {{dataItem.EndTime}}</b></label>
          <label *ngIf="dataItem.EndTime==null"><b>EndTime: not set </b></label>
          <div><b>Tender items:</b>
            <br/>
            <div *ngFor="let data of dataItem.TenderItems">
              <b>{{data.MedicineName}},  <b>Dosage: </b>{{data.Dosage}}, <b>Quantity: </b>{{data.Quantity}}</b>
            <br>
            </div>
            
          </div>
          <button style="margin-top: 1%;" *ngIf="dataItem.EndTime == null || dataItem.EndTime> currentTime" (click)="closeTender(dataItem)" type="button" class="btn btn-primary">Close tender</button>
          <br>
          
  
          <h2 style= "margin-top: 1%;"><b>Tender offers: </b></h2>
          <label *ngIf="dataItem.TenderOffers.length==0">There are no offers</label>
          <div [ngClass]="{'winner' : data.Winner}" *ngFor="let data of dataItem.TenderOffers">

            <label><b>Pharmacy name: {{data.PharmacyName}}</b></label><br>
            <label><b>Total price: {{data.TotalPrice}}$</b></label>
            <label *ngIf="data.Winner" style="float: right; padding-right: 2%; padding-top: 1%;"><b>Winner offer</b></label>
            <div><b>Offer items:</b>
                
              <br/>
              <div *ngFor="let data2 of data.OfferItems">
                <b>{{data2.MedicineName}},  <b>Dosage: </b>{{data2.Dosage}}, <b>Quantity: </b>{{data2.Quantity}}, <b>Price: </b>{{data2.Price}}$</b>
                <br>
              </div>
    
              </div>
              <button *ngIf="dataItem.EndTime == null || dataItem.EndTime> currentTime" (click)="chooseTenderWinner(dataItem,data)" type="button" class="btn btn-primary">Choose tender winner</button>
              <hr>
          </div>
        </li>
      </div>
</div>
