<div>

    <div *ngFor="let dataItem of TenderList; let i = index" class="list-group">
        <li  class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h2><b>Tender information:</b></h2>
          </div>
          <label>Title: {{dataItem.Title}},</label>
          <label>Description: {{dataItem.Description}},</label>
          
          <label *ngIf="dataItem.EndTime!=null">EndTime: {{dataItem.EndTime}}</label>
          <label *ngIf="dataItem.EndTime==null">EndTime: not set</label>
          <div>Tender items:
            <br>
            <label *ngFor="let data of dataItem.TenderItems">Item:{{data.MedicineName}},Dosage:{{data.Dosage}},Quantity:{{data.Quantity}}</label>

          </div>
          <button *ngIf="dataItem.EndTime == null || dataItem.EndTime> currentTime" (click)="closeTender(dataItem)" type="button" class="btn btn-primary">Close tender</button>
          <br>
          
  
          <h2 style= "margin-top: 1%;"><b>Tender offers: </b></h2>
          <label *ngIf="dataItem.TenderOffers.length==0">There are no offers</label>
          <div  *ngFor="let data of dataItem.TenderOffers">

            <label>Pharmacy name: {{data.PharmacyName}},Total price: {{data.TotalPrice}}</label>
            <label *ngIf="data.Winner" style="margin-left:3%;"><b>Winner offer</b></label>
            <div>Offer items:
                <br>
                <label *ngFor="let data2 of data.OfferItems">Item:{{data2.MedicineName}},Dosage:{{data2.Dosage}},Quantity:{{data2.Quantity}},Price:{{data2.Price}}</label>
    
              </div>
              <button *ngIf="dataItem.EndTime == null || dataItem.EndTime> currentTime" (click)="chooseTenderWinner(dataItem,data)" type="button" class="btn btn-primary">Choose tender winner</button>
              <hr>
          </div>

       
          <!-- <button *ngIf="replies[i]" (click)="showResponse(i)" type="button" class="btn btn-primary" style="margin-left: 90%;">Responses</button>
          <div class="list-group" *ngIf="responseDiv[i]"style="margin-top: 1%;">
            <div class="list-group" *ngFor="let data of RepliesForObjectionList[i]" style="margin-top: 1%;">
              <a href="#" class="list-group-item list-group-item-action"></a>
            </div>
          </div> -->
        </li>
      </div>


</div>
