<!--
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }



</style>
-->
<body>
  <div class="row d-flex align-items-center w-100" *ngIf="false">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 website_name_label">
      WORLD VISION CLINIC
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row d-flex align-items-center w-100" *ngIf="false">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <nav class="navMenu">
        <a href="/" *ngIf="!isLoggedIn()" style="float:none">Home</a>
        <a href="login" *ngIf="!isLoggedIn()" style="float:none">Sign in</a>
        <a href="buildings" *ngIf="isLoggedIn()" style="float:none">Home</a>
        <a href="manager-feedback" id="feedback" *ngIf="isLoggedIn()" style="float:none">Feedbacks</a>
        <a href="survey-results" *ngIf="isLoggedIn()" style="float:none">Surveys</a>
        <a href="block-patients" id="users" *ngIf="isLoggedIn()" style="float:none">Users</a>
        <button *ngIf="isLoggedIn()" routerLink="/buildings" (click)="showMenuToEditors=false">Hospital editor</button>
        <a href="/" *ngIf="isLoggedIn()" (click)="logout()" style="float:none">Sign out</a>
      </nav>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <router-outlet></router-outlet>
</body>