@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap");
* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.title {
  margin-top: 6px;
  text-align: center;
  color: cadetblue;
}

.doctor-managment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  border: 2px;
  border-radius: 15px;
  background-color: rgba(224, 223, 223, 0.911);
  width: 710px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.toolbar-btn {
  color: white;
  background-color: cadetblue;
  border-radius: 3px;
  height: 38px;
  font-size: 17px;
  width: 110px;
  border-radius: 10px;
  margin: 5px;
}

.selected-toolbar {
  background-color: rgb(151, 210, 212);
  color: white;
}

.icon-btn {
  color: white;
  background-color: cadetblue;
  height: 40px;
  font-size: 17px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 20%;
}

.search-btn {
  color: white;
  background-color: cadetblue;
  height: 30px;
  font-size: 17px;
  width: 30px;
  border-radius: 50%;
}

.big-toolbar {
  border: 2px;
  height: 60px;
  background-color: rgba(224, 223, 223, 0.991);
}

.big-toolbar-btn {
  color: cadetblue;
  background-color: rgba(224, 223, 223, 0.911);
  height: 58px;
  font-size: 17px;
  width: 120px;
}

.doctors-page {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.doctors-table {
  display: block;
  /* margin-left: 6%; */
  /* margin-right: 5%; */
  margin-bottom: 20px;
  background-color: white;
}

.doctors-table th {
  display: inline-block;
  padding: 10px 114px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background: cadetblue;
}

.doctors-table tbody {
  display: inline-block;
  height: 260px;
  overflow-y: scroll;
  scrollbar-color: rgb(248, 246, 246);
  width: 700px;
}
.doctors-table thead {
  width: 250px;
}
.doctors-table tbody tr {
  height: 15px;
}
.doctors-table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #000;
  word-wrap: break-word;
  height: 50%;
  width: 50%;
}
.doctors-table tbody {
  display: inline-block;
  overflow-y: scroll;
  scrollbar-color: rgb(248, 246, 246);
  background-color: rgba(224, 223, 223, 0.911);
}

.vacation-table {
  display: block;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 20px;
  background-color: white;
}

.vacation-table th {
  display: inline-block;
  padding: 10px 12px;
  text-align: middle;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background: cadetblue;
}

.vacation-table tbody {
  display: inline-block;
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: rgb(248, 246, 246);
  width: 700px;
}
.vacation-table thead {
  width: 250px;
}
.vacation-table tbody tr {
  height: 15px;
}
.vacation-table td {
  padding: 10px;
  text-align: start;
  vertical-align: middle;
  font-size: 16px;
  color: #000;
  word-wrap: break-word;
  height: 50%;
}
.vacation-table tbody {
  display: inline-block;
  overflow-y: scroll;
  scrollbar-color: rgb(248, 246, 246);
  background-color: rgba(224, 223, 223, 0.911);
}

.form-field {
  width: 100%;
  height: 60px;
  border: 2px solid rgba(224, 223, 223, 0.911);
  background: transparent;
  transition: border-color 0.2s;
  border-radius: 3%;
}

.input-field {
  width: 200px;
  height: 40px;
  border: 2px solid rgba(224, 223, 223, 0.911);
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 5%;
}


/* Bojan */
.btn {
  color: white;
  background-color: cadetblue;
  border-radius: 8px;
  min-width: 100px;
  height: 28px;
  font-size: 18px;
  transition: 0.7s;
  margin: 0 5px;
  width: max-content;
  padding: 0 10px;
}

.list-table {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgba(224, 223, 223, 0.911);
}
.list-table thead {
  display: flex;
  width: 100%;
}
.list-table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-table thead > tr {
  display: flex;
  flex: 1;
}
.list-table tbody > tr {
  display: flex;
  flex: 1;
}
.list-table tbody > tr > td {
  display: inline-block;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  color: #000;
  flex: 1;
}
.list-table th {
  display: inline-block;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  text-align: center;
  color: white;
  background: cadetblue;
  flex: 1;
}

.doctor-list-table {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgba(224, 223, 223, 0.911);
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
}
.doctor-list-table thead {
  display: flex;
  width: 100%;
}
.doctor-list-table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.doctor-list-table thead > tr {
  display: flex;
  flex: 1;
}
.doctor-list-table tbody > tr {
  display: flex;
  flex: 1;
}
.doctor-list-table tbody > tr > td {
  display: inline-block;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  color: #000;
  flex: 1;
}
.doctor-list-table th {
  display: inline-block;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  text-align: center;
  color: white;
  background: cadetblue;
  flex: 1;
}

.shiftsBox {
  margin-top: 70px;
  font-size: 16px;
  align-items: center;
}
.vacation-selected {
  background-color: rgba(160, 159, 159, 0.6);
}

.shifts-container {
  width: 710px;
  margin-top: 20px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: cadetblue!important;
  font-weight: bold;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: cadetblue!important;
  font-weight: bold;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
color: cadetblue!important;
font-weight: bold;
}

.input-box-small {
  width: 250px;
  color: cadetblue;
  align-items: center;
  height: 38px;
  margin-bottom: 5px;
  border-radius: 15px;
  margin-inline: 5px;
  font-weight: bold;
}

.vac-table {
  display: block;
  /* margin-left: 6%; */
  /* margin-right: 5%; */
  margin-bottom: 20px;
  background-color: white;
}

.vac-table th {
  display: inline-block;
  padding: 10px 154px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background: cadetblue;
}

.vac-table tbody {
  display: inline-block;
  height: 200px;
  overflow-y: scroll;
  scrollbar-color: rgb(248, 246, 246);
  width: 460px;
}
.vac-table thead {
  width: 250px;
}
.vac-table tbody tr {
  height: 15px;
}
.vac-table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #000;
  height: 50%;
  width: 50%;
}
.vac-table tbody {
  display: inline-block;
  overflow-y: scroll;
  scrollbar-color: rgb(248, 246, 246);
  background-color: rgba(224, 223, 223, 0.911);
}

.on-table {
  display: block;
  /* margin-left: 6%; */
  /* margin-right: 5%; */
  margin-bottom: 20px;
  background-color: white;
}

.on-table th {
  display: inline-block;
  padding: 10px 84px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background: cadetblue;
}

.on-table tbody {
  display: inline-block;
  height: 200px;
  overflow-y: scroll;
  scrollbar-color: rgb(248, 246, 246);
  width: 240px;
}
.on-table thead {
  width: 250px;
}
.on-table tbody tr {
  height: 15px;
}
.on-table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #000;
  word-wrap: break-word;
  height: 50%;
  width: 50%;
}
.on-table tbody {
  display: inline-block;
  overflow-y: scroll;
  scrollbar-color: rgb(248, 246, 246);
  background-color: rgba(224, 223, 223, 0.911);
}