.gradient-blue {
    /* fallback for old browsers */
    background: #4facfe;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(79, 172, 254, 1), #08d);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(79, 172, 254, 1), #08d);
}

.gradient-red {
    /* fallback for old browsers */
    background: #e60f0f;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(230, 15, 15, 1), rgba(210, 50, 50, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(230, 15, 15, 1), rgba(210, 50, 50, 1))
  }

.header-text {
    margin-left: 30px;
    margin-top: 10px;
}

.header {
    border-radius: 20px 20px 0px 0px;
}

.right-header {
    text-align: right;
    margin-right: 10px
}

.card {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
}

#content {
    overflow-y: auto;
    resize: none;
}