<span *ngIf="errorMsg; then printError else printFeedback"></span>
<ng-template #printError>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header gradient-red">
                        <div class="row d-flex">
                          <p class="text-white font-weight-bold header-text">
                              Error
                          </p>
                        </div>
                    </div>
                
                    <div class="card-body mx-4">
                        <div class="md-form">
                          <p id="error_content">{{errorMsg}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</ng-template>
<ng-template #printFeedback>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="card" *ngFor = "let f of feedback">
                    <div class="header gradient-blue">
                        <div class="row d-flex">
                            <div class="col-md-6">
                                <p class="text-white font-weight-bold header-text">
                                    {{f.userName}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-white font-weight-bold header-text right-header">
                                    {{f.date | date:'dd/MM/yyyy'}}
                                </p>
                            </div>
                        </div>
                    </div>
                
                    <div class="card-body mx-4">
                        <div class="md-form">
                          <p id="content" rows="5" disabled="true">{{f.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</ng-template>

