.gradient-blue {
    /* fallback for old browsers */
    background: #4facfe;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(79, 172, 254, 1), #08d);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(79, 172, 254, 1), #08d);
}

.gradient-red {
    /* fallback for old browsers */
    background: #e60f0f;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(230, 15, 15, 1), rgba(210, 50, 50, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(230, 15, 15, 1), rgba(210, 50, 50, 1))
  }

.header-text {
    margin-left: 30px;
    margin-top: 10px;
}

.header {
    border-radius: 20px 20px 0px 0px;
}

.right-header {
    text-align: right;
    margin-right: 10px
}

.card {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px 30px 30px 30px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 800px;
}

#content {
    overflow-y: auto;
    resize: none;
}

.btn-rounded {
    border-radius: 20px;
}

.btn-blue {
    background: #08d;
    color: white;
    width: 100px;
    margin-top: 10px;
    padding: 10px 0px 10px 0px !important;
}

/* PROGRESS BAR */

@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 12rem;
  --fg: #08d;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

/* GRAPH */

.skills {
    width: 80%;
    max-width: 960px;
    height: 300px;
    margin: auto;
    position: relative;
}
.lines {
    height: 100%;
    position: relative;
    list-style: none
}
.line {
    height: inherit;
    width: 2px;
    position: absolute;
    background: rgba(238, 238, 238, 0.6);
}
.line.l--0 {
    left: 0;
}
.line.l--25 {
    left: 25%;
}
.line.l--50 {
    left: 50%;
}
.line.l--75 {
    left: 75%;
}
.line.l--100 {
    left: calc(100% - 1px);
}
.line__label {
    display: block;
    width: 100px;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: -50px;
}
.line__label.title {
    text-transform: uppercase;
    font-weight: bold;
}
.charts {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.chart:not(:first-child) {
    margin-top: 10px;
}
.chart__title {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
}
.chart--prod .chart__title {
    animation-delay: 3.3s;
}
.chart--design .chart__title {
    animation-delay: 4.5s;
}
.chart--horiz {
    overflow: hidden;
    list-style: none;
    padding-left: 0px;
    margin-left: 0px
}
.chart__bar {
    height: 30px;
    margin-bottom: 10px;
    background: linear-gradient(to left, rgba(79, 172, 254, 1), #08d);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    width: var(--value);
    animation: 1s anim-lightspeed-in ease forwards;
}
.chart--dev .chart__bar:nth-of-type(5) {
    animation-delay: 1.5s;
}
.chart--dev .chart__bar:nth-of-type(4) {
    animation-delay: 1.3s;
}
.chart--dev .chart__bar:nth-of-type(3) {
    animation-delay: 1.1s;
}
.chart--dev .chart__bar:nth-of-type(2) {
    animation-delay: 0.9s;
}
.chart--dev .chart__bar:nth-of-type(1) {
    animation-delay: 0.7s;
}
.chart--prod .chart__bar:nth-of-type(2) {
    animation-delay: 4.2s;
}
.chart--prod .chart__bar:nth-of-type(1) {
    animation-delay: 4s;
}
.chart--design .chart__bar:nth-of-type(4) {
    animation-delay: 5.8s;
}
.chart--design .chart__bar:nth-of-type(3) {
    animation-delay: 5.6s;
}
.chart--design .chart__bar:nth-of-type(2) {
    animation-delay: 5.4s;
}
.chart--design .chart__bar:nth-of-type(1) {
    animation-delay: 5.2s;
}
.chart__label {
    padding-left: 10px;
    line-height: 30px;
    color: white;
}
@keyframes anim-lightspeed-in {
    0% {
        transform: translateX(-200%);
        opacity: 1;
   }
    100% {
        transform: translateX(0);
        opacity: 1;
   }
}