<p>
  <mat-toolbar>
  <div class="menu-container">
    <div class="left">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>World vision clinic</span>
      <a href="#">Home</a>
      <a href="#">About</a>

      <span class="example-spacer"></span>
    </div>
    <div class="right">
      <a href="#">Login</a>
      <a href="#">Registration</a>
    </div>
  </div>
</mat-toolbar>


</p>


<router-outlet></router-outlet>

<footer>
            <div class="footer_container">
                <div class="row">
                    <div class="About">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Operations</a></li>
                            <li><a href="#">dsada</a></li>
                            <li><a href="#">dddd</a></li>
                        </ul>
                    </div>
                    <div class="ForPatients">
                        <h3>For patients</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>World vision clinic</h3>

                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">World vision clinic © 2021</p>
            </div>
        </footer>
  
  
