<body>
    <div class="row d-flex align-items-center w-100">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 website_name_label">
        WORLD VISION CLINIC
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row d-flex align-items-center w-100">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <nav class="navMenu">
          <a href="/" *ngIf="!isLoggedIn()" style="float:none">Home</a>
          <a href="medical-record" *ngIf="isLoggedIn()" style="float:none">Home</a>
          <a href="create-feedback" *ngIf="isLoggedIn()" style="float:none">Feedback</a>
          <a href="register" *ngIf="!isLoggedIn()" style="float:none">Sign up</a>
          <a href="login" *ngIf="!isLoggedIn()" style="float:none">Sign in</a>
          <a href="create-appointment" *ngIf="isLoggedIn()" style="float:none">Appointment(Assisted)</a>
          <a href="appointment4step" *ngIf="isLoggedIn()" style="float:none">Appointment(Standard)</a>
          <a href="/" *ngIf="isLoggedIn()" (click)="logout()" style="float:none">Sign out</a>
        </nav>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <router-outlet></router-outlet>
</body>
