<div   >
    
    <div  >
    <form class="objectionForm" >
        
        <label for="title">Title: </label>
      
        <input type="text"  placeholder="Tender title">
        <br>
        <label for="start">End date(optional): </label>
      
        <input type="date" id="start" name="start-date">
        
        <br>
        <label for="description">Description: </label>
        <br>
        <div class="form-group">
            <textarea name="objContent" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Tender description" ></textarea>
        </div>
        <hr>
        <label for="MedicineName">Medicine name: </label>
        <input type="text">
        <br>
        <label for="Dosage">Dosage: </label>
        <input type="text">
        <br>
        <label for="Dosage">Quantity: </label>
        <input type="text">
        <br>
        <button color="info" block="true" style="width: auto;margin-top: 20px; height: 30px; background-color:#33b5e5; color: white;">Add medicine</button>
        <hr>
        <label for="MedicineName">List of medicines: </label>

        <hr>
        <button color="info" block="true" type="submit"  style="width: auto;margin-top: 20px; height: 30px; background-color:#33b5e5; color: white;">Create tender</button>
      
      </form>
      <!-- Default form contact -->
    </div>
    </div>