<div   >
    
    <div  >
    <form class="objectionForm" >
        
        <label for="title">Title: </label>
      
        <input type="text"  name="tender-title" placeholder="Tender title" [(ngModel)]="tenderTitle">
        <br>
        <label for="start">End date(optional): </label>
      
        <input type="date" id="start" name="start-date" [(ngModel)]="selectedDate">
        
        <br>
        <label for="description">Description: </label>
        <br>
        <div class="form-group">
            <textarea name="tender-description" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Tender description" [(ngModel)]="tenderDescription" ></textarea>
        </div>
        <hr>
        <label for="MedicineNamel">Medicine name: </label>
        <input name="medicine-name" type="text"  [(ngModel)]="medicineName">
        <br>
        <label for="Dosagel">Dosage: </label>
        <input name="dosage" type="text" [(ngModel)]="dosage">
        <br>
        <label for="Quantityl">Quantity: </label>
        <input name="quantity" type="text" [(ngModel)]="quantity">
        <br>
        <button id="add-medicine" color="info" (click)="addMedicine()" block="true" style="width: auto;margin-top: 20px; height: 30px; background-color:#33b5e5; color: white;">Add medicine</button>
        <hr>
        <label for="MedicineNames">List of medicines: </label>
        <div *ngIf="medicineList.length===0">There are no added medicines. Add some to create tender.</div>
        <div *ngFor="let med of medicineList">
          Medicine name: {{med.MedicineName}}|
          Dosage: {{med.Dosage}}|
          Quantity: {{med.Quantity}}
          <!-- <button (click)="removeMedicine(med)">remove</button> -->
        </div>

        <hr>
        <button id="create-tender" color="info" (click)="sendTender()" block="true" type="submit"  style="width: auto;margin-top: 20px; height: 30px; background-color:#33b5e5; color: white;">Create tender</button>
      
      </form>
      <!-- Default form contact -->
    </div>
    </div>