  <div class="row d-flex align-items-center">
    <img src="assets/homepage.png" class="photo_stretch" >
  </div>
  
  <div class="row d-flex align-items-center frontpage_gray_banner">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="row d-flex align-items-center frontpage_gray_banner_label">WORLD VISION CLINIC:</div>
      <div class="row d-flex align-items-center frontpage_gray_banner_label">MANAGER APPLICATION</div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  
  <div class="row d-flex align-items-center" style="margin-top: 40px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="row d-flex align-items-center frontpage_options_card h-100">
        <div class="col-md-6">
          <img src="assets/Frontpage_Left_Card.png" class="left_frontpage_picture">
        </div>
        <div class="col-md-6 h-100">
          <div class="row d-flex align-items-center frontpage_top front_page_right_card">
            <div class="col-md-6 deep_dark_blue_card h-100" style="text-align: center; padding-top: 20px;">
              <img src="assets/doctor.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">OUR EMPLOYEES</div>
            </div>
            <div class="col-md-6 dark_blue_card h-100" style="text-align: center; padding-top: 20px;">
              <img src="assets/survey.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">PATIENT SURVEYS</div>
            </div>
          </div>
          <div class="row d-flex align-items-center frontpage_top front_page_right_card">
            <div class="col-md-6 dark_blue_card h-100" style="text-align: center; padding-top: 20px;">
              <img src="assets/hospital.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">OUR FACILITIES</div>
            </div>
            <div class="col-md-6 light_blue_card h-100 " style="text-align: center; padding-top: 20px;">
              <img src="assets/Contact_Us.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">CONTACT US</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  
 
  
  <div class="row d-flex align-items-center frontpage_news_background">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="row d-flex align-items-center">
        <div class="col-md-4">
          <div class="card news_card">
            <div class="header">
              <img src="assets/News_Item_1.png" class="frontpage_news_item_picture">
            </div>
          
            <div class="card-body mx-4">
            
              <div class="md-form" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">COVID-19 vaccines:<br> everything you need to know</h2>
                <p>Now that COVID-19 vaccines have reached billions of people worldwide, the evidence is overwhelming that no matter which one you take, the vaccines offer life-saving protection against a disease that has killed millions. The pandemic is far from over, and they are our best bet of staying safe.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card news_card">
            <div class="header">
              <img src="assets/News_Item_2.jpg" class="frontpage_news_item_picture">
            </div>
          
            <div class="card-body mx-4">
            
              <div class="md-form" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">The new hospitals building the future of health infrastructure</h2>
                <p>In autumn 2020, the Government made a commitment to build 40 hospitals in Serbia by 2030, with a budget of £3.7 billion. In July this year, the Government announced the selection process for a further eight new hospitals. The new sites are intended to transform NHS services, for patients, staff and the wider community.
                  
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card news_card">
            <div class="header">
              <img src="assets/News_Item_3.png" class="frontpage_news_item_picture">
            </div>
          
            <div class="card-body mx-4">
            
              <div class="md-form" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">
                  An operation with new robotic technology was successfully performed in Vienna</h2>
                <p> One of the first operations in the world with new robotic technology was performed at the University Clinic for Otorhinolaryngology in Vienna.
                  <br><br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
 
  <hr>
  
  <div class="row d-flex align-items-center footer">
    <div class="col-md-3">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">About us</h2>
      <h4 class="link_subtitle">Request demo</h4>
      <h4 class="link_subtitle">FAQs</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Support</h2>
      <h4 class="link_subtitle">Services</h4>
      <h4 class="link_subtitle">Contact us</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
  </div>

