body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #212529;
    text-align: left;
    background-color: #f9f9fa
}

#page-content {
    margin-top: 20px
}

a {
    color: #448bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #005ef7;
    text-decoration: underline
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

@media (min-width:576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-sm-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-sm-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-sm-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .col-sm-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-sm-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-sm-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-sm-first {
        order: -1
    }

    .order-sm-last {
        order: 13
    }

    .order-sm-0 {
        order: 0
    }

    .order-sm-1 {
        order: 1
    }

    .order-sm-2 {
        order: 2
    }

    .order-sm-3 {
        order: 3
    }

    .order-sm-4 {
        order: 4
    }

    .order-sm-5 {
        order: 5
    }

    .order-sm-6 {
        order: 6
    }

    .order-sm-7 {
        order: 7
    }

    .order-sm-8 {
        order: 8
    }

    .order-sm-9 {
        order: 9
    }

    .order-sm-10 {
        order: 10
    }

    .order-sm-11 {
        order: 11
    }

    .order-sm-12 {
        order: 12
    }

    .offset-sm-0 {
        margin-left: 0
    }

    .offset-sm-1 {
        margin-left: 8.3333333333%
    }

    .offset-sm-2 {
        margin-left: 16.6666666667%
    }

    .offset-sm-3 {
        margin-left: 25%
    }

    .offset-sm-4 {
        margin-left: 33.3333333333%
    }

    .offset-sm-5 {
        margin-left: 41.6666666667%
    }

    .offset-sm-6 {
        margin-left: 50%
    }

    .offset-sm-7 {
        margin-left: 58.3333333333%
    }

    .offset-sm-8 {
        margin-left: 66.6666666667%
    }

    .offset-sm-9 {
        margin-left: 75%
    }

    .offset-sm-10 {
        margin-left: 83.3333333333%
    }

    .offset-sm-11 {
        margin-left: 91.6666666667%
    }
}

.text-muted {
    color: #99a0ac !important
}

.block,
.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
    border-radius: inherit;
    width: 100%
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.gd-success {
    color: #fff;
    border: none;
    background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}

.gd-info {
    color: #fff;
    border: none;
    background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}

.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

@media (min-width:992px) {
    .page-container {
        max-width: 1140px;
        margin-top: 1%;
        margin-left: 2%;
    }

    .page-sidenav {
        display: block !important
    }
}

.list {
    padding-left: 0;
    padding-right: 0
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem
}

.list-row .list-item>* {
    padding-left: .625rem;
    padding-right: .625rem
}

.no-wrap {
    white-space: nowrap
}

.text-color {
    color: #5e676f
}

.text-gd {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent
}

.text-sm {
    font-size: .825rem
}

.h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.w-48 {
    width: 48px !important;
    height: 48px !important
}

a:link {
    text-decoration: none
}
.searchFilter {
    margin-bottom: 50px;    
    margin-top: 50px;
  }
   .searchFilter.btn {
      display: inline-block;
      font-weight: 400;
      line-height: 1.25;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .5rem 1rem;
      font-size: 16px;
      border-radius: .25rem;
      height: 50px;
      min-width: 20px;
  }
  #orderButton{
    position: absolute;
    margin-left: 100%;
  }
  .searchFilter .btn-secondary {
      color: #373a3c;
      background-color: #fff;
      border: 1px solid #ccc;
  }
  .searchFilter .btn-secondary:hover {
      color: #373a3c;
      background-color: #e6e6e6;
      border-color: #adadad;
  }
  .searchFilter .btn-search {
    background-color: #00aced;
    color: #fff;
    border: 1px solid #00aced;
  }
  .searchFilter .btn-search:hover {
    background-color: #b20a11;
    color: #fff;
    border: 1px solid #b20a11;
  }
  .searchFilter .label-icon {
    display: none;  
  }
  .searchFilter .glyphicon {
      margin-right: -15px;
  }
  .searchFilter .dropdown-menu .category_filters {
    min-width: 178px;
    width: 100%;
    margin: 15px 0 0 -25px;
  }
  .searchFilter .dropdown-menu-right {
      right: 170px;
      min-width: 175px;
    top: 90%;
  }
  .searchFilter .dropdown-menu .category_filters li {
    list-style-type: none;
    padding: 2px 10px;
    font-size: 18px;
  }
  .searchFilter .dropdown-menu .category_filters label {
    margin-left: 15px;
  }
  @media (min-width: 1400px) {
    .ct-header .ct-jumbotron .inner {
      max-width: 470px;
      min-height: 230px;
    }  
  }
  @media (max-width: 1400px) {
    .ct-header-slider .item {
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center top;
    }  
  }
  @media (min-width: 769px) and (max-width: 1400px) {
    .ct-header-slider .item {
      height: auto;  
    }
  }
  @media (max-width: 1260px) {
    #dots-container {
      display: none;
    }
  }
  @media (min-width: 992px){
    .ct-footer2 .ct-newsletter {
      max-width: 100%;
    }
    #dots-container {
      bottom: 100px;
    } 
  }
  @media (min-width: 768px){
    .ct-searchbar:before {
      height: 92px;
      bottom: -1px;
    }
    .page-scrolled .navbar .navbar-nav li > * {
      min-height: 67px;
      height: 67px;
    }
    .page-scrolled .navbar .navbar-nav {
      height: 100%!important;
    }
    .ct-current-facts h2 {
      margin: 0 auto 0px;
    }
    .contentNews .ct-recent-news {
      flex-direction: inherit;
    }
    .contentFaq .faq_question .col-sm-11 {
      padding-right: 0px;
    }
    .peopleDetail h2 {
      margin-top: -5px;
    }
    .searchFilter .btn {
      min-width: 172px;  
    }
    .searchFilter .label-icon {
      display: inline-block;  
    }
    .searchFilter .glyphicon {
      margin-right: -5px;
    }
    .ct-header .ct-jumbotron {
      top: 0;
      margin-top: 5%;
    }
    .ct-header .ct-jumbotron h1 {
      font-size: 2.5em;
    }
    .ct-news.ct-news--bigger h3 {
      font-size: 41px;
      line-height: 1.4;
    }
  }
  @media (max-width: 768px){
    .ct-header .ct-jumbotron {  
      width: 80%;
      margin: 20px 10px;
      top: 40%;
      width: 95%;
    }
    .ct-header .ct-jumbotron .inner {
      max-width: 100%;
    }
    #dots-container {
      display: none;
    }
    .main-section {
      margin-top: -80px;
    }
    .searchFilter .dropdown-menu-right {
    right: 0px;
    }
  }