.mat-stepper-horizontal {
    margin-top: 8px;
  }
  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}
  .mat-form-field {
    margin-top: 16px;
  }
  td{
    cursor: pointer;
}
  tr{
    width: 33%;
    font-size: large;
}
  th{
    width: 33%;
    font-size: large;
  }
  p, button{
      font-size: large;
  }
.error{
  text-align : center;
  font-size: xx-large;
  color: red;
  margin-top: 50px;
}

.highlighted{
  background-color:skyblue;
}