<mat-stepper [linear]= true #stepper>
  <mat-step label="Step 1" [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
        <p>Pick a date: <input matInput [(ngModel)]="selectedParameters.date" type="date" name="dateOfAppointment" formControlName="firstCtrl" required></p>
        <div>
          <button mat-button matStepperNext class="nextButton" [disabled]="firstFormGroup.invalid">Next</button>
        </div>
      </form>
  </mat-step>
  <mat-step label="Step 2" [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <p>Pick a specialty: 
        <select [(ngModel)]="specialty" name="specialty" id="specialty" formControlName="secondCtrl" required>
        <option [value]='4'>Family Physician</option>
        <option [value]='0'>Ophthalmologist</option>
        <option [value]='1'>Cardiologist</option>
        <option [value]='2'>Radiologist</option>
        <option [value]='3'>Gynecologists</option>
      </select></p>
      <div>
        <button mat-button matStepperPrevious (click)="removeError()" class="backButton">Back</button>
        <button type="button" mat-button matStepperNext (click)="getDoctors()" class="nextButton" [disabled]="secondFormGroup.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Step 3" [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <p *ngIf = "!errorMsg">Pick a doctor: 
        </p>
        <input style="display: none;" matInput [(ngModel)]="selectedParameters.doctorId" type="text" name="doctor" formControlName="thirdCtrl" required>
        <table *ngIf = "!errorMsg">
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
          </tr>
          <tr *ngFor = "let d of doctors" (click)="selectDoctor($event, d)" [ngClass]="{'highlighted': d.id === selectedParameters.doctorId}">
            <td>{{d.firstName}}</td>
            <td>{{d.lastName}}</td>
          </tr>
      </table>
      <p class="error" *ngIf = "errorMsg">{{errorMsg}} 
      </p>
        <div>
          <button mat-button matStepperPrevious (click)="removeError()" class="backButton">Back</button>
          <button mat-button matStepperNext (click)="getAppointments()" class="nextButton" [disabled]="thirdFormGroup.invalid">Next</button>
        </div>
      </form>
  </mat-step>
  <mat-step label="Step 4" [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <p *ngIf = "!errorMsg">Pick the time of Your appointment (Every appointmet lasts 30 minutes): 
      </p>
      <input style="display: none;" matInput [(ngModel)]="selectedAppointment" type="text" name="appointment" formControlName="fourthCtrl" required>
      <table *ngIf = "!errorMsg">
        <tr>
          <th>Starts at</th>
        </tr>
        <tr *ngFor = "let a of appointments" (click)="selectAppointment($event, a)" [ngClass]="{'highlighted': a === selectedAppointment}">
          <td>{{a.date | date:'MMM d, y, h:mm a'}}</td>
        </tr>
    </table>
    <p class="error" *ngIf = "errorMsg">{{errorMsg}} 
    </p>
      <div>
        <button mat-button matStepperPrevious (click)="removeError()" class="backButton">Back</button>
        <button mat-button matStepperNext (click)="tryAppointment()" class="nextButton" [disabled]="fourthFormGroup.invalid">Finish</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>