.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  tr{
    width: 33%;
    cursor: pointer;
    font-size: large;
}
  th{
    width: 33%;
    font-size: large;
  }
  p, button{
      font-size: large;
  }
