<div class="title">
  <h1></h1><h2>ROOMS MAP</h2>
</div>

<div class="page-nav">
  <div class="floor-selection" *ngIf="!loadingFloors">
    <label for="">Floors:</label>
    <button *ngFor="let floor of floors; index as i" (click)="selectFloor(floor)" class="floor-button" [ngClass]="{'selected-floor': floor.level === selectedFloor.level}">
      <span class="floor-number">{{ i }}</span> {{ floor.level }}
    </button>
    <button (click)="takeOut()" class="floor-button">🚪 Exit</button>
  </div>

  <div style="margin: 0 10px; position: relative">
    <svg width="850" height="700" *ngIf="!loadingFloors">
      <rect x="0" y="150" width="841" height="451" class="floor" />
      <g *ngFor="let room of selectedFloor.rooms">
        <rect
          [attr.x]="room.x"
          [attr.y]="room.y"
          [attr.width]="room.width"
          [attr.height]="room.height"
          [attr.class]="(room.id == selectedFloor.highlightedRoomId) ? 'highlightedRoom' : 'room'"
          (click)="selectRoom(room)"
        />
        <text
          [attr.x]="calculateTextX(room)" [attr.y]="calculateTextY(room)" 
          class="text"
        >
          {{ room.name }}
        </text>
        <rect
          *ngIf="room.doorExist"
          [attr.x]="room.doorX"
          [attr.y]="room.doorY"
          [attr.width]="room?.vertical ? 6 : 35"
          [attr.height]="!room?.vertical ? 6 : 35"
          class="doors"
        />
      </g>
      <g *ngFor="let label of selectedFloor.labels">
        <text [attr.x]="label.x" [attr.y]="label.y" class="text">
          {{ label.text }}
        </text>
      </g>
    </svg>
  </div>

  <div class="info-box" *ngIf="!!roomIsSelected && !scheduleBox">
    <div *ngIf="!equipmentBox">
      <div class="title"><h3>Room informations</h3></div>
      <div class="rightbtn">
        <button class="btn" (click)="schedule()">Schedule</button>
        <div *ngIf="formDisabled">
          <button class="btn" (click)="equipment()">Equipment</button>
          <button class="btn" (click)="enableEdit()">Edit</button>
        </div>
        <button class="btn" (click)="cancel()" *ngIf="!formDisabled">Cancel</button>
        <button class="btn" (click)="save()" *ngIf="!formDisabled">Save</button>
      </div>
      <br>
      <label for="">Room name:</label><br />
      <input
        type="text"
        class="form-field"
        [(ngModel)]="selectedRoom.name"
        name="input"
        [attr.disabled]="formDisabled ? '' : null"
      /><br /><br />
      <label for="">Doctor using it:</label><br />
      <input
        type="text"
        class="form-field"
        [(ngModel)]="selectedRoom.doctorId"
        name="input"
        [attr.disabled]="formDisabled ? '' : null"
      />
      <br /><br /><br /><br />
      <button class="btn" (click)="close()" *ngIf="formDisabled">Close</button>
    </div>
    <div *ngIf="!!equipmentBox">
      <table class="equipment-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedRoom.equipments">
            <td>{{ item.name }}</td>
            <td>{{ item.type?"Static":"Dynamic" }}</td>
            <td>{{ item.amount }}</td>
          </tr>
        </tbody>
      </table>
      <div class="rightbtn">
        <button class="btn" (click)="closeEquip()">Close</button>
      </div>
    </div>
  </div>
  
  <div class="schedule-box" *ngIf="!!scheduleBox">
    <div class="title"><h3>Schedule</h3></div>
    <table class="schedule-table">
      <thead>
        <tr>
          <th>TYPE</th><th>DATE</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>
    <div class="rightbtn">
      <button class="schedule-btn">Delete</button>
      <button class="schedule-btn" (click)="closeSchedule()" *ngIf="formDisabled">Close</button>
    </div>
  </div>

  <div class="renovate-type-box" *ngIf="renovationTypeBox">
      <button (click)="pickRenovationType('merge')">Merge rooms</button>
      <button (click)="pickRenovationType('split')">Split room</button>
      <hr>
      <button (click)="renovationTypeBox = false">Close</button>
  </div> 
  
  <div *ngIf="roomsMergeBox">
    <table class="list-table">
      <thead><tr><th>Room name:</th></tr></thead>
      <tbody>
        <tr *ngFor="let room of selectedFloor.rooms" class="equipment-table-row" (click)="selectForMerging(room)" [ngClass]="{'selected-for-merge': room.id===firstMergeSelected.id || room.id===secondMergeSelected.id}">
          <td>{{room.name}}</td>
        </tr>
      </tbody>
    </table>
    <hr/>
    <button class="btn" (click)="restartSelection()">Restart selection</button>
    <button class="btn" (click)="FillMergeInfo()">Merge</button>
    <button class="btn" (click)="closeRenovationBoxes()">Close</button>
  </div>

  <div *ngIf="roomsSplitBox">
    <table class="list-table">
      <thead><tr><th>Room name:</th></tr></thead>
      <tbody>
        <tr *ngFor="let room of selectedFloor.rooms" class="equipment-table-row" (click)="selectForSplit(room)" [ngClass]="{'selected-for-merge': room.id===roomForSplit.id}">
          <td>{{room.name}}</td>
        </tr>
      </tbody>
    </table>
    <hr/>
    <button class="btn" (click)="restartSelection()">Restart selection</button>
    <button class="btn" (click)="FillSplitInfo()">Split</button>
    <button class="btn" (click)="closeRenovationBoxes()">Close</button>
  </div>

  <div *ngIf="roomsSplitInfoBox">
    <label for="">Name of first new room:</label>
    <input
        type="text"
        class="form-field"
        [(ngModel)]="roomSplitDto.name1"
        name="input"
      /><br /><br />
    <label for="">Name of second new room:</label>
    <input
        type="text"
        class="form-field"
        [(ngModel)]="roomSplitDto.name2"
        name="input"
      /><br /><br />
    <label for="">Purpose of first new room:</label>
    <input
        type="text"
        class="form-field"
        [(ngModel)]="roomSplitDto.purpose1"
        name="input"
      /><br /><br />
    <label for="">Purpose of second new room:</label>
    <input
        type="text"
        class="form-field"
        [(ngModel)]="roomSplitDto.purpose2"
        name="input"
      /><br /><br />
      <button class="btn" *ngIf="showBtns" (click)="Split()">Split</button>
      <button class="btn" *ngIf="showBtns" (click)="BackSplit()">Back</button>
      <button class="btn" *ngIf="!showBtns" (click)="FinishRenovation()">Finish renovation</button>
  </div>

  <div *ngIf="roomsMergeInfoBox">
    <label for="">Name new room:</label>
    <input
        type="text"
        class="form-field"
        [(ngModel)]="roomMergeDto.name"
        name="input"
      /><br /><br />
    <label for="">Purpose of new room:</label>
    <input
        type="text"
        class="form-field"
        [(ngModel)]="roomMergeDto.purpose"
        name="input"
      /><br /><br />
      <button class="btn" *ngIf="showBtns" (click)="Merge()">Merge</button>
      <button class="btn" *ngIf="showBtns" (click)="BackMerge()">Back</button>
      <button class="btn" *ngIf="!showBtns" (click)="FinishRenovation()">Finish renovation</button>
  </div>

  <div class="move-box-equipment" *ngIf="!!listBoxEquipment">
    <div class="moving-container" *ngIf="currentState.index == 0">
      <h3>Select Equipment:</h3>
      <table class="list-table">
        <thead>
          <tr>
            <th>NAME</th><th>TYPE</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let equipment of allEquipment"
            class="equipment-table-row"
            (click)="selectEquipment(equipment)"
          >
            <td>{{ equipment.name }}</td>
            <td style="text-align: center">
              {{ equipment.type ? "Static" : "Dynamic" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="moving-container" *ngIf="currentState.index == 1">
      <h3 for="">
        Selected equipment: <b>{{ selectedEquipment!.name }}</b>
      </h3>
      <p>Select Room:</p>
      <table class="list-table">
        <thead>
          <tr>
            <th>Room name</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let room of roomsList"
            class="equipment-table-row"
            (click)="selectStartRoom(room)"
          >
            <td>
              {{ room.roomName }} - {{ room.roomFloor }} - Amount:
              {{ room.amount }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="moving-container" *ngIf="currentState.index == 2">
      <h3 for="">
        Selected equipment: <b>{{ selectedEquipment!.name }}</b>
      </h3>
      <h3 for="">
        Selected room: <b>{{ startRoom!.roomName }}</b>
      </h3>
      <label for="">Enter amount:</label> <br />
      <input
        type="number"
        class="fill-form-field"
        [(ngModel)]="movingAmount"
        name="input"
        max="{{ startRoom!.amount }}"
        placeholder="Max value: {{ startRoom!.amount }}"
      />
    </div>

    <div class="moving-container" *ngIf="currentState.index == 3">
      <h3 for="">
        Selected equipment: <b>{{ selectedEquipment!.name }}</b>
      </h3>
      <h3 for="">
        Selected room: <b>{{ startRoom!.roomName }}</b>
      </h3>
      <h3 for="">
        Moving amount: <b>{{ movingAmount }}</b>
      </h3>
      <p>Select Destination Room:</p>
      <div class="destination-table-container">
        <table class="list-table">
          <thead>
            <tr>
              <th>Room name</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let room of destinationRooms"
              class="equipment-table-row"
              (click)="selectDestinationRoom(room)"
            >
              <td>{{ room.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="moving-container" *ngIf="currentState.index == 4">
      <h3 for="">
        Selected equipment: <b>{{ selectedEquipment!.name }}</b>
      </h3>
      <h3 for="">
        Selected room: <b>{{ startRoom!.roomName }}</b>
      </h3>
      <h3 for="">
        Moving amount: <b>{{ movingAmount }}</b>
      </h3>
      <h3 for="">
        Destination room: <b>{{ destinationRoom!.name }}</b>
      </h3>

      <div style="text-align: center; margin: 10px 0">
        <label for="" style="float: left">Select interval for transport</label>
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-date-range-input
            [formGroup]="interval"
            [rangePicker]="campaignOnePicker"
          >
            <input
              matStartDate
              placeholder="Start date"
              formControlName="start"
            />
            <input matEndDate placeholder="End date" formControlName="end" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="campaignOnePicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div>
        <label for="">Enter estimate duration time (in hours):</label> <br />
        <input
          type="number"
          class="fill-form-field"
          [(ngModel)]="estimateHours"
          name="input"
          min="0"
          placeholder="Enter duration here...."
        />
      </div>
    </div>

    <div class="moving-container" *ngIf="currentState.index == 5">
      <h2 for="">Preview</h2>
      <h3 for="">
        Selected equipment: <b>{{ selectedEquipment!.name }}</b>
      </h3>
      <h3 for="">
        Selected room: <b>{{ startRoom!.roomName }}</b>
      </h3>
      <h3 for="">
        Moving amount: <b>{{ movingAmount }}</b>
      </h3>
      <h3 for="">
        Destination room: <b>{{ destinationRoom!.name }}</b>
      </h3>
      <h3 for="">
        Estimate duration: <b>{{ estimateHours }}</b>
      </h3>
    </div>

    <div *ngIf="!!suggestion">
      <p>Suggested periods:</p>
      <b
        for=""
        style="
          display: block;
          text-align: center;
          background-color: cadetblue;
          margin: 0 5px;
          border-radius: 2px;
          margin-bottom: 20px;
        "
        >{{ suggestion!.startDate | date: "short" }} -
        {{ suggestion!.endDate | date: "short" }}</b
      >
    </div>
    <div class="position-bottom">
      <button
        class="btn"
        style="flex: 1"
        (click)="goBack()"
        [disabled]="currentState.index == 0"
      >
        Back
      </button>
      <button
        class="btn"
        style="flex: 1"
        (click)="goNext()"
        [disabled]="disableNextButton()"
      >
        {{ currentState.index == 5 ? "Move" : "Next" }}
      </button>
    </div>
    <div class="position-bottom">
      <!-- <button class="btn">Schedule</button> -->
      <button class="btn" (click)="closeMovingContainer()">Close</button>
    </div>
  </div>

  <div class="search-box-rooms">
    <input class="search-txt-rooms" type="text" name="" placeholder="Search for..." (keyup)=" searchRooms ? searchForRooms($event) : searchForEquipment($event)"/>
    <a class="search-btn-rooms" (click)="searchEquipment()">
      <i class="fas fa-search"></i>
    </a>
  </div>

  <div class="search-radio-buttons">
    <form>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="rooms" (change)="setSearchCriteria()" checked/>Rooms
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="equipment" (change)="setSearchCriteria()"/>Equipment
      </label>
    </form>
  </div>

  <div class="search-list-box-equipment" *ngIf="searchEquipmentResultBox && !searchRooms">
    <h3>Search result</h3>
    <table class="search-list-table">
      <thead>
        <tr>
          <th>NAME</th><th>AMOUNT</th><th>ROOM</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of searchResultList" (click)="selecteddEquipment(item.roomId)">
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ getRoomName(item.roomId) }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn" (click)="closeSearchBox()" *ngIf="searchBoxDisabled">Close</button>
  </div>

  <div class="search-list-box-equipment" *ngIf="searchRooms && searchBegin">
    <h3>Search result</h3>
    <table class="rooms-table">
      <thead>
        <tr>
          <th>ROOM NAME</th><th>FLOOR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of searchResultList" (click)="selecteddEquipment(item.id)">
          <td>{{ item.name }}</td><td></td><td></td><td></td>
          <td>{{ item.floorId }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn" (click)="closeRoomTable()" *ngIf="searchBoxDisabled">Close</button>
  </div>

  <div class="info-box" *ngIf="buildingBox">
    <div  *ngIf="!loadingHospital">
      <div class="title"><h3>Building info:</h3></div>
      <label for="">Building name:</label><br />
      <input
        type="text" 
        class="form-field" 
        [(ngModel)]="selectedBuilding.name" 
        name="input" 
        [attr.disabled]="buildingFormDisabled ? '' : null"
      /><br /><br />
      <label for="">Informations:</label><br />
      <input 
        type="text" 
        class="form-field" 
        [(ngModel)]="selectedBuilding.info" 
        name="input" 
        [attr.disabled]="buildingFormDisabled ? '' : null"
      /><br /><br />
      <label for="">Floors:</label><br />
      <input
        type="text" 
        class="form-field" 
        [(ngModel)]="selectedBuilding.floors" 
        name="input" 
        [attr.disabled]="buildingFormDisabled ? '' : null"
      /><br /><br /><br />
      <button class="btn" (click)="buildingFormDisabled = false" *ngIf="buildingFormDisabled" >Edit</button>
      <button class="btn" (click)="saveHospital()" *ngIf="!buildingFormDisabled">Save</button>
      <button class="btn" (click)="closeInfo()" *ngIf="formDisabled">Close</button>
    </div>
  </div>

  <div class="toolbar">
    <button (click)="buildingBox = true" class="toolbar-btn">Building info</button>
    <button (click)="moveEquipment()" class="toolbar-btn">Move equipment</button>
    <button class="toolbar-btn" (click)="renovationTypeBox=true" >Renovate rooms</button>
  </div>
  
</div>
