<div class="title">
  <h1></h1>
  <h2> ROOMS MAP</h2>
</div>
<div class="page-nav">
  <div class="floor-selection">
    <label for="">Floors:</label>
    <button
      *ngFor="let floor of selectedBuilding.floors; index as i"
      (click)="selectFloor(floor)"
      class="floor-button"
      [ngClass]="{
        'selected-floor': floor.level === selectedFloor.level
      }"
    >
      <span class="floor-number">{{ i }}</span> {{ floor.level }}
    </button>
    <button (click)="takeOut()" class="floor-button">🚪 Exit</button>
  </div>
  <div style="margin: 0 10px; position: relative">
    <div class="building-info">
      <div style="text-align: center">
        <h3 style="align-self: flex-start; font-size: 17px;">Building info:</h3>
      </div>
      <div class="info-body">
        <div class="info-module">
          <label for="">Building name:</label><br />
          <input
            type="text"
            class="form-field"
            [(ngModel)]="selectedBuilding.name"
            name="input"
            [attr.disabled]="buildingFormDisabled ? '' : null"
          />
        </div>
        <label for="">Info:</label><br />
        <input
          type="text"
          class="form-field"
          [(ngModel)]="selectedBuilding.info"
          name="input"
          [attr.disabled]="buildingFormDisabled ? '' : null"
        />
        <div class="info-module" style="align-self: flex-end">
          <button
            class="btn"
            (click)="buildingFormDisabled = false"
            *ngIf="buildingFormDisabled"
          >
            Edit
          </button>
          <button
            class="btn"
            (click)="buildingFormDisabled = true"
            *ngIf="!buildingFormDisabled"
          >
            Done
          </button>
          <button (click)="moveEquipment()" class="btn">Move equipment</button>

        </div>
      </div>
    </div>
    <svg width="850" height="700">
      <rect x="0" y="150" width="841" height="451" class="floor" />
      <g *ngFor="let room of selectedFloor.rooms">
        <rect
          [attr.x]="room.x"
          [attr.y]="room.y"
          [attr.width]="room.width"
          [attr.height]="room.height"
          [attr.class]="room.class"
          (click)="selectRoom(room)"
        />
        <text
          [attr.x]="calculateTextX(room)"
          [attr.y]="calculateTextY(room)"
          class="text"
        >
          {{ room.name }}
        </text>
        <rect
          *ngIf="room.doorExists"
          [attr.x]="room.doorX"
          [attr.y]="room.doorY"
          [attr.width]="room?.vertical ? 6 : 35"
          [attr.height]="!room?.vertical ? 6 : 35"
          class="doors"
        />
      </g>
      <g *ngFor="let label of selectedFloor.labels">
        <text [attr.x]="label.x" [attr.y]="label.y" class="text">
          {{ label.text }}
        </text>
      </g>
    </svg>
  </div>

  <div class="info-box" *ngIf="!!roomIsSelected" >
    <div *ngIf="!equipmentBox">
    <div class="title"><h3>Room info:</h3></div>
    <label for="">Room name:</label><br />
    <input
      type="text"
      class="form-field"
      [(ngModel)]="selectedRoom.name"
      name="input"
      [attr.disabled]="formDisabled ? '' : null"
    />
    <br />
    <label for="">Doctor using it:</label><br />
    <input
      type="text"
      class="form-field"
      [(ngModel)]="selectedRoom.doctor"
      name="input"
      [attr.disabled]="formDisabled ? '' : null"
    />
    <br />
    <label for="">Purpose:</label><br />
    <input
      type="text"
      class="form-field"
      [(ngModel)]="selectedRoom.purpose"
      name="input"
      [attr.disabled]="formDisabled ? '' : null"
    />
    <br />
    <br />
    <div class="rightbtn">
      <button class="btn" (click)="close()" *ngIf="formDisabled">Close</button>
      <div *ngIf="formDisabled"> 
      <button class="btn" (click)="equipment()">Equipment</button>
      <button class="btn" (click)="enableEdit()" >Edit</button>
    </div>
      <button class="btn" (click)="cancel()" *ngIf="!formDisabled">
        Cancel
      </button>
      <button class="btn" (click)="save()" *ngIf="!formDisabled">Save</button>
    </div>
  </div>

  <div *ngIf="!!equipmentBox">
    <table class="equipment-table">
    <thead>
      <tr><th>   Name</th><th>Type</th><th>Amount</th></tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of selectedRoom.equipment">
        <td>{{item.name}}</td><td>{{item.type}}</td><td>{{item.amount}}</td>
      </tr>     
    </tbody>
    </table>
    <div class="rightbtn">
      <button class="btn" (click)="closeEquip()">Close</button>
    </div>
  </div>
</div>

<div class="list-box-equipment" *ngIf="!!listBoxEquipment">
  <h3>EQUIPMENT</h3>
  <table class="list-table">
    <thead>
      <tr><th>NAME</th><th>TYPE</th></tr>
    </thead>
    <tbody> </tbody>
  </table>
</div>

<div class="move-box-equipment" *ngIf="!!moveBoxEquipment">
  <h3>MOVING</h3>
  <div class="labels-box">
    <div class="label-container">
      <label for="">Starting room::</label><br />
      <select class="browser-default custom-select">
        <option selected>Open this select menu</option>
        <option *ngFor="let room of rooms"  [value]="room.roomId">{{room.name}}</option>
      </select>
    </div>
    <div class="label-container">
      <label for="">Starting  room floor::</label><br />
      <input
        type="text"
        class="form-field"
        [(ngModel)]="selectedRoom.purpose"
        name="input"
        [attr.disabled]="formDisabled ? '' : null"
      />
    </div>
    <div class="label-container">
      <label for="">Amount:</label><br />
      <input
        type="text"
        class="form-field"
        [(ngModel)]="selectedRoom.purpose"
        name="input"
        [attr.disabled]="formDisabled ? '' : null"
      />
    </div>
    <div class="label-container">
      <label for="">Destination room:</label><br />
      <select class="browser-default custom-select">
        <option selected>Open this select menu</option>
        <option *ngFor="let room of rooms"  [value]="room.roomId">{{room.name}}</option>
      </select>
    </div>
    
  </div>
</div>

  <div class="search-box-rooms" >
    <input class="search-txt-rooms" type="text" name="" placeholder="Search for room" >
    <a class="search-btn-rooms" href="#">
      <i class="fas fa-search"></i>
    </a>
  </div>

</div>
