@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap');


.room{
    stroke: black;
    stroke-width: 2px;
    fill: cadetblue;
}

.staircase{
    fill:cornsilk;
    stroke:black;
    stroke-width: 3px;
}

.doors{
    stroke:black;
    stroke-width: 2px;
    fill:burlywood;
}

.text{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}